.firstRod {
    width: 100%;
    display: flex;
    height: 600px;
    background-color: #0c2151;
}

.leftChild {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.rightChild {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: gold;
    font-size: 36px;
}

h2 {
    font-size: 26px;
    color: whitesmoke;
}

.btn {
    box-sizing: border-box;
    padding: 20px 35px;
    border-radius: 7px;
    background-color: rgb(196, 15, 15);
    color: aliceblue;
    border: 0;
    font-size: 18px;
}

.btnDiv {
    margin-top: 20px;
}

.secondRod {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.linker{
    width: max-content;
    color: black;
    text-decoration: none;
}

.courseBlock {
    transition: 0.3s;
    border-radius: 10px;
    width: 30%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
}

.courseBlock:hover {
    transform: scale(1.04);
}

.blockImg {
    margin-top: 10px;
    border-radius: 50%;
    border: 0;
}

.textStyle {
    padding: 10px 25px;
    text-align: center;
}