.header {
    display: flex;
    justify-content: space-between;
    background-color: #2a2a2a;
    color: white;
    padding:10px 100px ;
}
.header_right {
    width: 10%;
    display: flex;
    justify-content: space-between;
    margin: auto 0;

}

.logo img {
width: 100px;
height: 40px;
}

.linker {
    text-decoration: none;
    color: gold;
}